.navbar{
    position: sticky;
    align-items: center;
    display: flex;
    top: 0;
    justify-content: space-between;
    
    background-color:wheat;

}

.logo{
    width: 42%;
}

.button1{
    color: white;
    text-align: center;
    align-items: center;
    border: black, 20px;
    background-color: red;
    border-radius: 20px;
    height: 90px;
    width: 100px;
    font-size: 25px;
    font-family: Helvetica;
}

.button1:active{
    color: black;
}

.hero_line{
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    align-items: center;
    color: white;
}

.hero_video{
    align-items: right;
}